.t {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #999;
  background-color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 9999;
}
.t-icon {
  width: 15px;
  height: 15px;
}
.t-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: crimson;
  position: absolute;
  transition: all ease 0.3s;
  left: 0;
}
