.i {
  display: flex;
  height: 100vh;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-right {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i-right img {
  position: relative;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid #333;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.8);
}

.i-right::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 100, 0.18);
  border-radius: 50%;
  filter: blur(40px);
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.i-left-wrapper {
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 80px;
}

.i-title {
  height: 50px;
  overflow: hidden;
  justify-content: center;
  width: max-content;
}

.i-title-wrapper {
  height: 100%;
  animation: move 6s ease-in-out infinite alternate;
}

.i-scroll {
  width: 30px;
  height: 30px;
  fill: #f5ced6;
  position: absolute;
  bottom: 20px;
  animation: bounce 3s alternate infinite;
}

@keyframes move {
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 480px) {
  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .i-desc {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .i {
    flex-direction: column;
  }
  .i-left-wrapper {
    height: 75%;
    margin-top: 100px;
  }
  .i-img {
    object-fit: contain;
  }
  .i-right img {
    display: none;
  }
}

@media (max-width: 960px) {
  .i-right img {
    height: 30%;
  }
}
